.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 95vw;
  margin: 0 auto;
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #072326;
    border-radius: 5px;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    transition: all 0.4s ease;
    transform: scale(1);
    &:hover {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.23);
      transform: scale(1.05);
    }
  }
  &__price {
    font-size: 1.2em;
    font-weight: bold;
    span {
      font-weight: normal;
      font-size: 15px;
      text-decoration: line-through;
    }
  }
}
