.input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Tektur', cursive;
}
.invalid-input {
    border-color: red;
  }