.input-email {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.input-password {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tektur', cursive;
}
.invalid-input {
  border-color: red;
}
.error-text-email {
  color: burlywood;
}
.error-text-password {
  color: burlywood;
  position: absolute;
  margin-top: 10px;
}
.login-button {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.reg-button {
  width: 200px;
}

.show-pass-text {
  margin-top: 30px;
}
