@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');
@import './notFoundPageView.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0 10px;
  &__burger-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
    height: 40px;
    background-image: url('./images/burgermenu.png');
    background-size: contain;
    z-index: 1;
    transition: all 0.5s ease;
  }
  &__logo {
    font-family: 'Tektur', cursive;
    font-weight: bold;
    font-size: 24px;
    color: #072326;
    text-decoration: none;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__menu {
    font-family: 'Tektur', cursive;
    display: flex;
    margin-right: 100px;
    li {
      list-style-type: none;
    }
    a {
      color: #072326;
      text-decoration: none;
      transition: all 0.4s linear;
      padding: 5px;
      border-radius: 5px;
    }
    a:hover {
      color: #f2f2f2;
      background-color: #072326;
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }
  .header {
    height: 50px;
    &__burger-menu {
      display: block;
    }
  }
  .header__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    top: 0;
    width: 70vw;
    height: 100vh;
    background-color: #f2f2f2;
    box-shadow: -34px 0px 50px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    .header__menu {
      margin: 0 0 100px 0;
      padding: 0;
    }
  }

  .header__burger-menu_open {
    background-image: url('./images/close.png');
  }

  .open {
    right: 0;
  }
}
