button {
  font-family: 'Tektur', cursive;
  background-color: #072326;
  color: #f2f2f2;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
button:hover {
  background-color: #f2f2f2;
  color: #072326;
}
