button {
  font-family: 'Tektur', cursive;
  background-color: #072326;
  color: #f2f2f2;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 1px solid #072326;
}
button:hover {
  background-color: #f2f2f2;
  color: #072326;
}

.button {
  font-family: 'Tektur', cursive;
  background-color: #072326;
  color: #f2f2f2;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 1px solid #072326;
}

.button:hover {
  background-color: #f2f2f2;
  color: #072326;
}

.button__add-to-cart {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

.button__add-to-cart:disabled {
  background-color: #c9f696;
  color: #072326;
  cursor: default;
}
