.form {
  font-family: 'Tektur', cursive;
  color: #072326;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  fieldset {
    border-radius: 5px;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  // Стили для полей формы
  &__sort {
    position: absolute;
    right: 5%;
    top: 60px;
  }

  &__btn {
    position: absolute;
    left: 5%;
    top: 60px;
  }

  &__firstName,
  &__lastName,
  &__email,
  &__password,
  &__current-password,
  &__confirm-password,
  &__birth,
  &__billing-country,
  &__billing-city,
  &__billing-street,
  &__billing-building,
  &__billing-post-code,
  &__shipping-country,
  &__shipping-city,
  &__shipping-street,
  &__shipping-building,
  &__shipping-post-code,
  &__country,
  &__city,
  &__street,
  &__post-code,
  &__addressesMatch,
  fieldset {
    margin-bottom: 15px;
    position: relative;

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select {
      width: 94%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .form__error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }

    select {
      width: 100%;
    }
  }

  &__password {
    .show,
    .show-pass {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__password &__error {
    margin-top: 36px;
  }

  input[type='checkbox'] {
    margin-right: 5px;
  }

  input[type='submit'],
  input[type='button'] {
    font-family: 'Tektur', cursive;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #072326;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid #072326;

    &:hover {
      background-color: #f2f2f2;
      color: #072326;
    }
  }

  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.error-message {
  color: red;
  background-color: rgb(255, 199, 199);
  padding: 5px;
  border-radius: 5px;
}

.form__email_input input[type='email'] {
  background: url(./images/email.png) 2% center / 6% no-repeat;
  width: 86%;
  padding-left: 10%;
}

.form__password_input input[type='text'],
.form__password_input input[type='password'] {
  background: url(./images/lock.png) 2% center / 6% no-repeat;
  width: 86%;
  padding-left: 10%;
}

.show-pass {
  background: url(./images/eye-open.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 20px;
}

.form_filter {
  margin: 0 auto;
  border: none;
}

.form_filter-hide {
  border: none;
  width: 200px;
  margin: 20px 0 20px 5%;
  padding: 0;
  height: 0;
  overflow: hidden;
}

.form {
  display: inherit;
}

.form-frame {
  margin-bottom: 10px;
}

#shipping-form {
  border: 1px solid black;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#billing-form {
  border: 1px solid black;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.address-label {
  font-size: 20px;
  font-weight: 600;
}

.edit-button {
  margin-top: 20px;
  width: 60px;
}

.edit-pass-button {
  margin-top: 20px;
  width: 150px;
}

.title-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.modal {
  display: block;
  position: absolute;
  left: 35%;
  background-color: rgb(219, 216, 209);
  border-radius: 5px;
  width: 30%;
  padding: 20px;
}

.info-input {
  width: 200px;
  border: solid 0.5px gray;
  height: 25px;
  margin-bottom: 10px;
}

.close {
  cursor: pointer;
  font-size: 24px;
}

.title-address {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.success-message {
  position: absolute;
  top: 20%;
  left: 42%;
  background-color: rgb(226, 241, 168);
  opacity: 80%;
  font-size: 36px;
  width: 300px;
  text-align: center;
}

.form-profile {
  display: flex;
  flex-direction: row;
}

.wrapper-profile {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.wrapper-info {
  border: solid 1px black;
  padding: 10px;
}

.edit-address-button {
  margin-top: 10px;
}

.wrapper-address {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 1px black;
  margin: 10px;
}

.wrapper-ship-bill {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

button:disabled {
  opacity: 0.5;
}

.basket-items {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-top: 10px;
}
.item-cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  margin-bottom: 10px;
  width: 400px;
  padding: 5px;
}
.item-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity-wrapper {
  margin-bottom: 115px;
}

.quantity-wrapper span {
  margin-left: 10px;
}

.quantity-wrapper button {
  width: 30px;
  font-weight: 600;
  font-size: 18px;
}
.empty-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
}
.empty-wrapper {
  margin-left: 20px;
}
.total-cost {
  font-size: 30px;
  font-weight: 600;
}
