.form {
  font-family: 'Tektur', cursive;
  color: #072326;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  fieldset {
    border-radius: 5px;
    &:first-of-type {
      margin-top: 20px;
    }
  }
  // Стили для полей формы
  &__firstName,
  &__lastName,
  &__email,
  &__password,
  &__birth,
  &__billing-city,
  &__billing-srteet,
  &__billing-building,
  &__billing-post-code,
  &__shipping-city,
  &__shipping-srteet,
  &__shipping-building,
  &__shipping-post-code,
  &__addressesMatch,
  fieldset,
  select {
    margin-bottom: 15px;
    position: relative;

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select {
      width: 94%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }
    .form__error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
    select {
      width: 100%;
    }
  }

  &__password {
    div {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__password &__error {
    margin-top: 36px;
  }

  input[type='checkbox'] {
    margin-right: 5px;
  }

  input[type='submit'] {
    font-family: 'Tektur', cursive;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #072326;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid #072326;

    &:hover {
      background-color: #f2f2f2;
      color: #072326;
    }
  }

  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
.error-message {
  color: red;
  background-color: rgb(255, 199, 199);
  padding: 5px;
  border-radius: 5px;
}

.form__email_input input[type='email'] {
  background: url(./images/email.png) 2% center / 6% no-repeat;
  width: 86%;
  padding-left: 10%;
}

.form__password_input input[type='text'],
.form__password_input input[type='password'] {
  background: url(./images/lock.png) 2% center / 6% no-repeat;
  width: 86%;
  padding-left: 10%;
}

.show-pass {
  background: url(./images/eye-open.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 20px;
}
