@import './views/view.scss', './components/button.scss';
@import '../src/views/loginPageView.scss', '../src/views/registerPageView.scss';

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Tektur', cursive;
  color: #072326;
  text-align: center;
}
