@import './views/view.scss', './components/button.scss',
  './components/form.scss', './views/CatalogViev.scss';

body {
  font-family: 'Tektur', cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: 'Tektur', cursive;
  color: #072326;
  text-align: center;
}
